/* Root */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto";
  font-style: normal;
}

/* link */

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}

/* List */

.list {
  list-style: none;
}

/*Header*/

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.nav {
}

.nav-list {
}

.nav-link {
  color: #212121;
}

.contact-link {
  color: var(--primary-text-color);
}

.contact-list {
}

/* Hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-color: #2196f3;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section */

.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #212121;
}
/* benefits */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-list {
}

.benefits-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #212121;
}

.benefits-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.benefits-list .item {
}

/*Employment */

.employment {
}

.employment .section-title {
}

.employment .list {
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team-list {
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-list .item {
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #757575;
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.address-list .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.address-list .contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address-list .link:hover,
.address-list .link:focus {
  color: #2196f3;
}

.address-list .contact:hover,
.address-list .contact:focus {
  color: #2196f3;
}

/* Portfolio */

.nav-portfolio {
}

.nav-portfolio .button {
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio .list {
  list-style: none;
}

.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: #757575;
}
